{% extends "orders/base.html" %}

{% block body %}

<!-- TODO:  -->
  <div class="container-fluid"  style="margin-left:25%">
    {% for item in order_items%}
    <div class="container-fluid">
    <p>{{item.Menu_item.name}}
        {% for topping in item.toppings.all%}
          {{topping}}
        {% endfor %}
        X {{item.quantity}}</p>
    </div>
    {% endfor %}

    <div class="container-fluid">
      <h3>Subtotal: {{price}}</h3>

      <form class="" action="{% url 'place_order' order.id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-success">Order</button>
      </form>
    </div>

  </div>





{% endblock %}
