{% extends "orders/base.html" %}

{% block body %}
<!--Mask-->
<div id="intro" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6" id="welcome-box">
      <h1>Welcome!</h1>
      {% if user.is_authenticated %}
      <h3>You are currently logged in as: {{ user.username }}</h3>
      <a href="{%url 'menu'%}"><button type="button" name="button"
        class = "btn-success">View our menu</button></a>
      {% else %}
      <a href="{%url 'login'%}"><button type="button" name="button"
        class = "btn-primary">Login</button></a>
        <a href="{%url 'signup'%}"><button type="button" name="button"
          class = "btn-success">Signup</button></a>
      {% endif %}

    </div>
  </div>
  {% if message %}
      <div>
          {{ message }}
      </div>
  {% endif %}

</div>
<!--/.Mask-->


{% endblock %}
